<% provide(:title, "About") %>

<div class="row">
  <div class="col-sm-12">
    <div class="page-header">
      <h1>About MakeChow</h1>
    </div><!-- /.page-header -->
  </div><!-- /.col-sm-12 -->
</div><!-- /.row -->

<div class="row">
  <div class="col-md-8">
    <h2>Purpose</h2>
    <p>MakeChow exists to make it easier for you to chow down. There are all kinds of ad-spammed recipe sites out in internet-land. While MakeChow is supported by
    advertisements, I have attempted to make these ads as unobtrusive as possible. So please, if you like the site, and like to chow down, turn off your ad-blockers 
    and click away!</p>
    <p>This site was developed for academic/learning purposes. Please be aware that because of this, your account, any recipes you've saved, and all data stored
    on the site may be removed at any time (due to possible database resets to change a feature, etc). I promise to make EVERY effort I can to keep this from 
    happening. I would love to see this site become commercially successful, and that means gaining your trust.</p>
    <p>However, please be aware that this site is designed, developed, and maintained by just one person -- Me! </p>
    <h2>Contact</h2>
    <p>If you need support, want to chat about your favorite recipes, or just chat about web development, I am best reached by email: <%= mail_to "jay@jpkarlsven.com" %></p>
  </div>
  <div class="col-md-4">
    <div class="well">
      <h2>Jay Karlsven</h2>
      <p>Hi! I'm a junior web developer in the Columbus, Ohio area. I'm currently looking for full-time employment.
      I'm familiar with a number of web technologies, but as a self-taught developer, I sometimes have a bit of the 'imposter syndrome'.
      Because of that, I'm trying to build as many projects as I can!</p>
      <p>I have a wonderful wife who supports my learning process, and a very silly Chocolate Lab. I enjoy the outdoors (although
      recently all my time has been indoors on a computer), craft beer, and running.</p>
      <p>You can find out more about me at my portfolio site: <%= link_to "jpkarlsven.com", "http://www.jpkarlsven.com" %></p>
    </div>
  </div>
</div>