<% provide(:title, "Home") %>

<div id="intro" class="jumbotron">
  <div class="container">
    <h1>Welcome to MakeChow!</h1>
    <p>Store, share, and rate recipes. Save your favorites.</p>
    <% if logged_in? %>
      <p><%= link_to "Your Recipes", user_path(current_user, anchor: "user-recipes"), :class => "btn btn-primary btn-lg", :role => "button" %></p>
    <% else %>
      <p><%= link_to "Sign Up Now!", signup_path, :class => "btn btn-primary btn-lg", :role => "button" %></p>
    <% end %>
  </div> <!-- /.container -->
</div> <!-- /.jumbotron -->
