<div class="row user-recipes">
  <% if @recipes.count == 0 %>
    <div class="col-md-12">
      <h3>No Recipes Found</h3>
    </div>
  <% else %>
    <%= render @recipes %>
  <% end %>
</div> <!-- /.row -->

<div class="row text-center">
  <div class="col-xs-12">
    <%= will_paginate @recipes, inner_window: 1, renderer: BootstrapPagination::Rails %>
  </div>
</div>