<div class="form-group">
  <div class="row">
    <div class="ingredient-wrapper clearfix">
      <div class="col-xs-3">
        <%= f.text_field :quantity, class: 'form-control' %>
      </div><!-- /.col-xs-3 -->
      <div class="col-xs-7">
        <%= f.text_field :name, class: 'form-control' %>
      </div><!-- /.col-xs-7 -->
      <div class="col-xs-2">
        <%= link_to_remove_association f, { wrapper_class: "form-group" } do %>
          <%= button_tag type: 'button', class: 'delete-button btn btn-sm btn-danger' do %>
            <span class='glyphicon glyphicon-remove' aria-hidden='true'></span>
          <% end %>
        <% end %>
      </div><!-- /.col-xs-2 -->
    </div><!-- /.ingredient-wrapper -->
  </div><!-- /.row -->
</div><!-- /.form-group -->