<div class="row user-favorites">
  <h2 class="text-center"><%= @user.name %>'s Favorited Recipes</h2>
  <% if @user.favorites.any? %>
  <%= render @favorites %>
  <% end %>
</div> <!-- /.row -->

<% if @user.favorites.any? %>
  <div class="row text-center">
    <div class="col-md-12">
      <%= will_paginate @favorites, param_name: 'favorite_page', inner_window: 1, renderer: BootstrapPagination::Rails %>
    </div>
  </div>
<% end %>