<div class="row user-reviews">
  <h2 class="text-center"><%= @user.name %>'s Reviews</h2>
  <% if @user.reviews.any? %>
  <%= render @reviews %>
  <% end %>
</div> <!-- /.row -->

<% if @user.reviews.any? %>
  <div class="row text-center">
    <div class="col-md-12">
      <%= will_paginate @reviews, param_name: 'review_page', inner_window: 1, renderer: BootstrapPagination::Rails %>
    </div>
  </div>
<% end %>