<li class="list-group-item">
  <div class="row">
    <div class="col-xs-5">
      <%= ingredient.quantity %>
    </div>
    <div class="col-xs-7">
      <%= ingredient.name %>
    </div>
  </div>
</li>