/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

@mixin box_sizing {
  -moz-box-sizing:  border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* BASE */

html, body {
  height: 100vh;
}

body {
  background-color: #fef2e4;
}

body > .container {
  background-color: #fafafa;
  padding-top: 20px;
}

.navbar {
  background-color: #805a3b;
  border-color: #402d1d;
  margin-bottom: 0;
  border-radius: 0;
}

.navbar-default .navbar-brand, .navbar-default .navbar-nav > li > a {
  color: #fdfdfd;
  &:hover, &:focus {
    color: #fd974f;
  }
}

/* HEADER NAV */

.navbar input#search.form-control {
  margin-bottom: 0;
}

/* PAGES */

#intro.jumbotron {
  background-image: url('http://i.imgur.com/erTksex.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 500px;
  h1, p {
    color: white;
    text-shadow: 2px 1px grey;
  }
}

.main-img-wrapper {
  background-color: #3b807d;
  img {
    width: 100%;
    max-height: 400px;
    object-fit: cover;
    object-position: center;
    overflow: hidden;
  }
  
  @media (min-width: 768px) {
    img {
      max-height: 500px;
    }
  }
}

#recipe-panel {
  position: relative;
  top: -30px;
  .panel-title {
    font-size: 36px;
    display: inline-block;
  }
  .recipe-buttons {
      margin-top: 5px;
    }
}

#new_recipe #recipe-panel {
  top: 0;
}

.thumb-img {
    img {
      width: 100%;
      height: 250px;
      object-fit: cover;
      object-position: center;
      overflow: hidden;
    }
    
    @media (min-width: 768px) {
      img {
        height: 180px;
      }
    }
}

/* MISC */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* PAGINATION */
div.pagination {
  width: 100%;
  text-align: center;
  ul.pagination {
    margin: auto;
  }
}


/* FORMS */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 20px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explaination {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

/* TABLES */

#user-list.table td {
  vertical-align: middle;
}

.panel-heading h2 {
  margin-top: 5px;
  margin-bottom: 5px;
}

.admin-row {
  background-color: #aaffaa;
}

.unactivated-row {
  background-color: #ff5050;
}