/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import url(https://fonts.googleapis.com/css?family=Pontano+Sans|Bevan|Unica+One);

@mixin box_sizing {
  -moz-box-sizing:  border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* BASE */

html, body {
  height: 100vh;
  font-size: 16px;
}

body {
  background-color: #F5F2EF;
  font-family: "Pontano Sans", Helvetica, Arial, sans-serif;
  h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: "Bevan", Helvetica, Arial, serif;
    color: #2B1B17;
  }
  a {
    color: #54A8B8;
    transition: color 0.2s ease-in-out;
    &:hover, &:active, &:focus {
      color: #FA6900;
      text-decoration: none;
    }
  }
}

body > .container {
  background-color: #FBFAF9;
  padding-top: 20px;
}

@media (min-width: 1400px) {
  .container {
    width: 1370px;
  }
}

/* HEADER NAV */

// Main Nav Styles
.navbar {
  background-color: #CEE0B4;
  border-color: #a4b390;
  margin-bottom: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 0;
  min-height: 50px;
  @media (min-width: 768px) {
    height: 70px;
  }
  a.navbar-brand {
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0;
    padding-left: 10px;
    transition: opacity 0.2s ease-in-out;
    height: 30px;
    &:hover, &:focus {
      opacity: 0.7;
    }
    @media (min-width: 768px) {
      padding-left: 15px;
      padding-right: 15px;
      height: 40px;
    }
    @media (min-width: 992px) {
      margin-right: 20px;
      height: 50px;
    }
    img {
      height: 30px;
      @media (min-width: 768px) {
        height: 40px;
      }
      @media (min-width: 992px) {
        height: 50px;
      }
    }
  }
  button.navbar-toggle {
    margin: 0 15px 0 10px;
  }
}

// Links
.navbar-default .navbar-brand, .navbar-default .navbar-nav > li > a, .dropdown-menu > li > a {
  font-family: "Unica One", Arial, sans-serif;
  font-size: 1.3em;
  text-transform: uppercase;
  color: #2B1B17;
  transition: color 0.2s ease-in-out;
  &:hover, &:focus {
    color: #FA6900;
  }
}
.navbar-nav > li.dropdown > a {
  padding: 0 0 0 15px;
  img {
    opacity: 0.7;
    transition: opacity 0.2s ease-in-out;
  }
  &:hover, &:focus, &:active {
    img {
      opacity: 1;
    }
  }
}
.navbar-nav > li.dropdown.open > a {
  background-color: transparent;
  color: #FA6900;
  &:hover, &:focus, &:active {
    background-color: transparent;
  }
}
.navbar-default .navbar-nav .open .dropdown-menu > li > a {
  @media (max-width: 767px) {
    color: #2B1B17;
    &:hover, &:focus {
      color: #FA6900;
    }
  }
}

// Navbar Search Form
.navbar .navbar-form {
  input#search.form-control {
    margin-bottom: 0;
    width: 80%;
    display: inline-block;
    @media (min-width: 768px) {
      width: auto;
    }
  }
  button {
    margin-bottom: 2px;
    @media (min-width: 768px) {
      margin-bottom: 0;
    }
  }
}

/* PAGES */

#intro.jumbotron {
  background-image: url('http://i.imgur.com/erTksex.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 500px;
  h1, p {
    color: white;
    text-shadow: 2px 1px grey;
  }
}

#recipe-panel {
  position: relative;
  top: -50px;
  .panel-title {
    color: #2B1B17;
    display: inline-block;
    font-size: 2em;
  }
  .recipe-buttons {
    margin-top: 15px;
  }
  h3 {
    margin-bottom: 0;
    margin-top: 15px;
    a {
      transition: all 0.2s ease-in-out;
      &:hover, &:focus, &:active {
        text-decoration: none;
        opacity: 0.8;
        color: #FA6900;
      }
      img {
        position: relative;
        bottom: 4px;
      }
    }
  }
}

#category-info {
  position: relative;
  top: -20px;
}

.ingredients.list-group {
  .list-group-item {
    padding: 0 15px;
    &:first-child {
      .col-xs-5 {
        border-top-left-radius: 4px;
      }
    }
    &:last-child {
      .col-xs-5 {
        border-bottom-left-radius: 4px;
      }
    }
  }
  .col-xs-5 {
    padding: 10px 15px;
    background-color: #f5f5f5;
  }
  .col-xs-7 {
    padding: 10px 15px;
  }
}

/* MISC */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}

.center-pills {
  display: inline-block;
}

.profile-img {
  background-color: #BCE6E0;
  border-radius: 50%;
  border: 2px solid #96c5c2;
}

.recipe-img {
  background-color: #CECFB6;
}

/* PAGINATION */
div.pagination {
  width: 100%;
  text-align: center;
  ul.pagination {
    margin: auto;
  }
}


/* FORMS */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 20px;
  @include box_sizing;
}

input {
  height: auto !important;
}

.form-inline input {
  margin-bottom: 0;
}

#error_explaination {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

.create-button {
  margin-top: 20px;
  margin-bottom: 20px;
}

#steps .form-group {
  .row {
    margin-top: 10px;
    .step-wrapper {
      padding-top: 15px;
      padding-bottom: 15px;
      margin-left: 15px;
      margin-right: 15px;
      border-radius: 4px;
      background-color: #f5f5f5;
      border: 1px solid #e3e3e3;
    }
  }
  
  textarea {
    margin-bottom: 10px;
  }
  @media (min-width: 768px) {
    textarea {
      margin-bottom: 0;
    }
    .col-sm-3 {
      padding-top: 30px;
    }
  }
}

#ingredients h4 {
  margin-left: 10px;
}

#ingredients .form-group {
  .row {
    margin-top: 10px;
    .ingredient-wrapper {
      padding-top: 10px;
      padding-bottom: 10px;
      margin-left: 15px;
      margin-right: 15px;
      border-radius: 4px;
      background-color: #f5f5f5;
      border: 1px solid #e3e3e3;
      .col-xs-3, .col-xs-7 {
        padding-left: 10px;
        padding-right: 10px;
      }
      .col-xs-2 {
        padding-left: 5px;
        padding-right: 5px;
      }
      .delete-button {
        padding: 7px 10px;
      }
      
      input.form-control {
        margin-bottom: 0;
      }
    }
  }
}

form.new_recipe, form.edit_recipe {
  .checkbox {
    margin-top: 30px;
    margin-bottom: 0;
    input {
      width: auto;
      margin-left: 0;
    }
  } 
}

form.filter {
  .btn {
    margin-top: 22px;
  }
  .checkbox {
    margin-top: 10px;
    margin-bottom: 0;
    input {
    width: auto;
    margin-left: 0;
    } 
  }
}

/* RATING STARS FORM INPUT */
form {
  .rating {
      float:left;
      border:none;
      position: relative;
      bottom: 4px;
  }
  .rating:not(:checked) > input {
      position:absolute;
      display: none;
  }
  .rating:not(:checked) > label {
      float:right;
      width:1em;
      padding:0 .1em;
      overflow:hidden;
      white-space:nowrap;
      cursor:pointer;
      font-size:200%;
      line-height:1.2;
      color:#ddd;
  }
  .rating:not(:checked) > label:before {
      content:'★ ';
  }
  .rating > input:checked ~ label {
      color: #f70;
  }
  .rating:not(:checked) > label:hover, .rating:not(:checked) > label:hover ~ label {
      color: gold;
  }
  .rating > input:checked + label:hover, .rating > input:checked + label:hover ~ label, .rating > input:checked ~ label:hover, .rating > input:checked ~ label:hover ~ label, .rating > label:hover ~ input:checked ~ label {
      color: #ea0;
  }
  .rating > label:active {
      position:relative;
  }
}

/* DISPLAY RATINGS */

.review-panel .panel-heading {
  height: 60px;
  text-align: right;
}

.review-panel .panel-body {
  height: 85px;
  position: relative;
  p {
    margin-bottom: 5px;
  }
  p.text-center {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
  }
  @media (min-width: 768px) and (max-width: 992px) {
    height: 100px;
  }
}

.review-panel .panel-footer {
  height: auto;
  @media (min-width: 768px) {
    height: 70px;
  }
  @media (min-width: 992px) {
    height: 54px;
  }
  .row {
    margin-left: 0;
    margin-right: 0;
  }
  p {
    display: inline-block;
    width: 100%;
    margin-bottom: 5px;
    margin-top: 5px;
    span {
      text-align: right;
      float: right;
    }
  }
}


.rating-display {
  float: left;
  position: relative;
  top: -9px;
  left: -4px;
  span:before {
    content:'★ ';
  }
  span {
    float: right;
    width: 0.85em;
    padding: 0 .1em;
    overflow: hidden;
    white-space: nowrap;
    font-size: 140%;
    line-height: 1.2;
    color:#ddd;
    &.filled-star {
      color: #f70;
    }
  }
  p { 
    @media(min-width: 768px) {
      float: right;
      padding: 0 .1em;
      margin: 4px 0;
      white-space: nowrap;
      line-height: 1.2;
    }
  }
  &.recipe-rating {
    float: none;
    display: inline-block;
    margin: 10px auto -10px;
  }
}

/* TABLES */

#user-list.table td {
  vertical-align: middle;
}

.panel-heading h2 {
  margin-top: 5px;
  margin-bottom: 5px;
}

.admin-row {
  background-color: #aaffaa;
}

.unactivated-row {
  background-color: #ff5050;
}