/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

@mixin box_sizing {
  -moz-box-sizing:  border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* PAGES */

#intro.jumbotron {
  background-image: url('http://i.imgur.com/erTksex.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 500px;
  h1, p {
    color: white;
    text-shadow: 2px 1px grey;
  }
}

/* MISC */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* FORMS */

.new_user input, .new_user textarea, .new_user select, .new_user.uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 20px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explaination {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}
