// Place all the styles related to the Recipes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.thumbnail {
  position: relative;
  a {
    text-decoration: none;
    &:hover, &:active, &:focus {
      text-decoration: none;
    }
  }
  .thumb-img {
    position: relative;
    .warning-bar {
      margin-top: 0;
      padding-top: 5px;
      padding-bottom: 5px;
      text-align: center;
      background-color: rgba(255,0,0,0.5);
      position: absolute;
      top: 0;
      width: 100%;
      color: white;
    }
    img {
      width: 100%;
      height: 250px;
      object-fit: cover;
      object-position: center;
      overflow: hidden;
    }
    @media (min-width: 768px) {
      img {
        height: 180px;
      }
    }
  }
  .recipe-buttons {
    position: absolute;
    bottom: 5px;
    right: 5px;
  }
  .caption {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 4px !important;
    transition: opacity 0.2s ease-in-out;
    h3 {
      margin-top: 0;
      color: white;
      text-shadow: 2px 1px grey;
      padding: 5px;
      text-align: center;
      width: 100%;
      background-color: rgba(96, 96, 96, 0.5);
    }
  }
  .overlay {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
    background-color: #4d4d4d;
    padding: 8px;
    margin: 4px;
    p {
      color: white;
    }
  }
  &:hover .caption {
    opacity: 0;
  }
  &:hover .overlay {
    opacity: 0.9;
  }
}

.main-img-wrapper {
  position: relative;
  #img-update-fields {
    position: absolute;
    top: 5px;
    right: 5px;
    padding: 10px 15px;
    border-radius: 3px;
    background-color: #d9edf7;
    border-color: #bce8f1;
    label {
      color: #31708f;
    }
  }
  #private-recipe-tag {
    position: absolute;
    top: 10px;
    right: 10px;
    opacity: 0.8;
    h3 {
      margin: 0;
    }
  }
  #favorite-recipe {
    position: absolute;
    top: 10px;
    left: 10px;
    a {
      opacity: 0.6;
      transition: all 0.3s ease-in-out;
      .glyphicon {
        color: gray;
        font-size: 30px;
        top: 2px;
        left: -1px;
      }
      @media (min-width:768px) {
        .glyphicon {
          font-size: 50px;
        }
      }
      &:hover, &:active, &:focus {
        opacity: 0.9;
        .glyphicon {
          color: #FF0000;
        }
      }
    }
    a.favorited {
      opacity: 0.8;
      transition: all 0.3s ease-in-out;
      .glyphicon {
        color: #FF0000;
      }
      &:hover, &:active, &:focus {
        opacity: 1;
        .glyphicon {
          color: gray;
        }
      }
    }
  }
}

form ul {
  list-style: none;
  padding-left: 0;
}